<footer>
    <section class="container">
        <div class="columns">
            <div class="column one-fifth">
                <h4>{{ current_user.name }}</h4>
                <ul>
                    <li><a href="#">Профиль</a></li>
                    <li><a href="#">Уведомления</a></li>
                    <li><a href="#">Настройки</a></li>
                    <li><a href="#">Админка</a></li>
                </ul>
            </div>
            <div class="column one-fourth">
                <h4>Публикации</h4>
                <ul>
                    <li><a href="#">Все посты</a></li>
                    <li><a href="#">По подписке</a></li>
                    <li><a href="#">По рейтингу</a></li>
                    <li><a href="#">По кол-ву просмотров</a></li>
                </ul>
            </div>
        </div>
    </section>
    <section class="footer-bottom">
        <div class="container">
            <ul>
                <li>© 2018 Все прова защищены.</li>
                <li><a href="#">О сайте</a></li>
                <li><a href="#">Служба поддержки</a></li>
            </ul>
        </div>
    </section>
</footer>