<header>
	<section class="container">
		<div class="columns">
			<div class="one-half column">
				<a href="/">
					<figure>
						<img src="{{ url_for('static', filename='img/favicon.svg') }}">
						<figcaption>
							<h3>fh</h3>
							<p>Freelance web house.</p>
						</figcaption>
					</figure>
				</a>
			</div>
			<div class="one-half column">
				<nav>
					<li>
						<span class="tooltipped tooltipped-s" aria-label="Перейти на главную страницу">
							<a href="{{ url_for('main.home_page') }}">Главная</a>
						</span>
					</li>
					<li>
						<span class="tooltipped tooltipped-s" aria-label="Перейти на страницу с публикациями">
							<a href="{{ url_for('post.posts_page') }}">Публикации</a>
						</span>
					</li>
					{% if current_user.is_authenticated %}
						<li>
							<span class="tooltipped tooltipped-s" aria-label="Перейти на страницу с уведомлениями">
								<a href="{{ url_for('notice.notice_page') }}">
									<span><i class="material-icons">notifications_none</i></span>
									<span class="Counter">{{ current_user.notice.count() }}</span>
								</a>
							</span>
						</li>
						<li class="dropdown">
							<a class="dropdown-toggle" href="#">
								<span>
									{% if current_user.photo_url %}
										<img class="avatar avatar-small" width="32" height="32" src="{{ url_for('uploads', filename=current_user.photo_url) }}" alt="photo" />
									{% else %}
										<img class="avatar avatar-small" width="32" height="32" src="{{ current_user.gravatar(size=50) }}" alt="Аватар">
									{% endif %}
								</span>
								<span>
									{{ current_user.name }} &#9207;
								</span>
							</a>
							<ul class="Popover right-0 left-0 dropdown-content">
								<ul class="menu Popover-message Box box-shadow-large">
									<li class="menu-item"><a href="{{ url_for('user.profile_page', username=current_user.name) }}">Профиль</a></li>
									<li class="menu-item"><a href="{{ url_for('user.editProfile_page') }}">Настройка</a></li>
									<li class="menu-item"><a href="{{ url_for('auth.logout_request') }}">Выйти</a></li>
									{% if current_user.is_moderator() %}
										<li class="menu-item"><a href="{{ url_for('moderator.dashboard_page') }}">Мод. панель</a></li>
									{% endif %}
									{% if current_user.is_admin() %}
										<li class="menu-item"><a href="{{ url_for('admin.dashboard_page') }}">Админ. панель</a></li>
									{% endif %}
								</ul>
							</ul>
						</li>
						
					{% else %}
						<li><a href="{{ url_for('auth.login_page') }}">Войти</a></li>
					{% endif %}
				</nav>
			</div>
		</div>
	</section>
</header>