<header>
	<figure>
		<img src="{{ url_for('static', filename='img/favicon.png') }}">
		<figcaption>
			<h3>APIdoc</h3>
			<p>Библиотека API документации к технологиям.</p>
		</figcaption>
	</figure>
	<nav>
		<li><a href="{{ url_for('main.home_page') }}">Главная</a></li>
		{% if current_user.is_authenticated %}
			<li><a href="{{ url_for('post.addPost_page') }}">Добавить пост</a></li>
			<li>
				<a href="#">{{ current_user.name }}</a>
				<ul>
					<li><a href="{{ url_for('user.profile_page', username=current_user.name) }}">Профиль</a></li>
					<li><a href="{{ url_for('user.editProfile_page') }}">Настройка</a></li>
					<li><a href="{{ url_for('auth.logout_page') }}">Выйти</a></li>
				</ul>
			</li>
			
		{% else %}
			<li><a href="{{ url_for('auth.login_page') }}">Войти</a></li>
		{% endif %}
	</nav>
</header>