<section class="nav nav-left">
    <div class="Box nav-user-avatar">
        {% if data.user.photo_url %}
            <img src="{{ url_for('uploads', filename=data.user.photo_url) }}" alt="photo" />
        {% else %}
            <img src="{{ data.user.gravatar(default='mm') }}" alt="Аватар" />
        {% endif %}
    </div>
    <nav class="menu">
        <span class="menu-heading">
            <span>Информация о пользов...</span>
            <span><i class="material-icons">arrow_drop_down</i></span>
        </span>
        <a class="menu-item {% if data.page == 'profile' %}selected{% endif %}" href="{{ url_for('user.profile_page', username=data.user.name) }}">
            Профиль
        </a>
        <a class="menu-item {% if data.page == 'user_posts' %}selected{% endif %}" href="{{ url_for('post.userPosts_page', username=data.user.name) }}">
            Публикации
            <span class="Counter">{{ data.posts.count() }}</span>
        </a>
        <a class="menu-item {% if data.page == 'comments' %}selected{% endif %}" href="{{ url_for('comment.comments_page', username=data.user.name) }}">
            Комментарии
            <span class="Counter">{{ data.comments.count() }}</span>
        </a>
        <a class="menu-item {% if data.page == 'followers' %}selected{% endif %}" href="{{ url_for('user.followers_page', username=data.user.name) }}">
            Подписчики 
            <span class="Counter">{{ data.user.followers.count() - 1 }}</span>
        </a>
        <a class="menu-item {% if data.page == 'followed' %}selected{% endif %}" href="{{ url_for('user.followedBy_page', username=data.user.name) }}">
            Подписан на
            <span class="Counter">{{ data.user.followed.count() - 1 }}</span>
        </a>
    </nav>
    {% if current_user != data.user %}
        {% if current_user.is_anonymous or not current_user.is_following(data.user) %}
            <a class="btn btn-block btn-primary" role="btn" href="{{ url_for('user.follow_request', user_id=data.user.id) }}">Подписаться</a>
        {% else %}
            <a class="btn btn-block btn-danger" role="btn" href="{{ url_for('user.unfollow_request', user_id=data.user.id) }}">Отписаться</a>
        {% endif %}
    {% endif %}
</section>