<section class="nav-publications nav-left">
    <nav class="menu my-3">
        <span class="menu-heading">Навигация по публикациям</span>
        <a class="menu-item {% if data.page == 'all_posts' %}selected{% endif %}" href="{{ url_for('post.posts_page') }}">
            Все посты
            <!-- Все посты &#9207; -->
            <span class="Counter">{{ data.all_posts_count }}</span>
        </a>
        <a class="menu-item {% if data.page == 'followed_posts' %}selected{% endif %}" href="{{ url_for('post.followedPosts_page') }}">
            По подписке
            <!-- По подписке &#9207; -->
            {% if not current_user.is_anonymous %}
                <span class="Counter">{{ data.followed_posts_count }}</span>
            {% else %}
                <span class="Counter">0</span>
            {% endif %}
        </a>
        <!-- <a class="menu-item" href="#">
            По категории &#9207;
        </a> -->
        <a class="menu-item {% if data.page == 'post_ratings' %}selected{% endif %}" href="{{ url_for('post.byRatingPosts_page') }}">
            По рейтенгу
        </a>
        <a class="menu-item {% if data.page == 'post_views' %}selected{% endif %}" href="{{ url_for('post.byViewingPosts_page') }}">
            По кол-ву просмотров
        </a>
    </nav>
    {% if current_user.is_authenticated %}
        <span class="tooltipped tooltipped-s" aria-label="Написать и опубликовать свой пост">							
            <a class="btn btn-block btn-primary" role="btn" href="{{ url_for('post.addPost_page') }}">Добавить пост</a>
        </span>
    {% endif %}
</section>