{% extends 'base.html' %}

<!-- :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->

{% block content %}
    <div class="columns">
        <aside class="one-fourth column my-3">
            {% include 'components/_nav_user.html' %}
        </aside>
        <div class="three-fourths column">
            <ul>
                {% for comment in data.comments %}
                    {% include 'comment/_comment_small.html' %}
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
