{% extends 'base.html' %}
{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/components/comment.css') }}">
{% endblock %}

<!-- :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->

{% block content %}
    <div class="columns">
        <aside class="one-fourth column my-3">
            {% include 'components/_nav_user.html' %}
        </aside>
        <div class="three-fourths column">
            <ul>
                {% for comment in data.comments %}
                    <li class="Box my-3 comment">
                        <div class="Box-header">
                            <a class="user-avatar" href="{{ url_for('user.profile_page', username=comment.author.name) }}">
                                <span><img width="33px" src="{{ comment.author.gravatar(size=50) }}" alt="Аватар"></span>
                                <span>{{ comment.author.name }}</span>
                            </a>
                            {% if comment.state == 'develop' %} <small class="dev anim-pulse">требуется доработать</small> {% endif %}
                        </div>
                        <div class="Box-body">
                            <small>
                                {{ comment.timestamp.strftime('%d.%m.%Y') }}
                                к посту: 
                                {% if not comment.post.id %}
                                    удалён
                                {% else %}
                                     <a href="{{ url_for('post.post_page', id=comment.post.id) }}">{{ comment.post.title }}</a>
                                {% endif %}
                            </small>
                            <p>
                                {% if comment.body_html %}
                                    {{ comment.body_html|safe|truncate(400) }}
                                    <span class="hidden-text-expander">
                                        <a role="btn" class="ellipsis-expander" 
                                            href="{{ url_for('comment.comment_page', username=current_user.name, id=comment.id) }}">&hellip;</a>
                                    </span>
                                {% else %}
                                    {{ comment.text|truncate(400) }}
                                {% endif %}
                            </p>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
