{% extends "base.html" %}
{% from 'macros/_formhelpers.html' import render_field %}
{% block scripts %}
	<script src="{{ url_for('static', filename='js/scripts/ajax_form.js') }}"></script>
{% endblock %}

<!-- :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->

{% block content %}
    <div class="Box mt-3">
        <div class="Box-header">
            <small>Страница изменения пароля.</small>
        </div>
        <div class="Box-body">
            <form action="{{ url_for('auth.passwordResetForm_req', token=data.token) }}" method="POST">
                {{ data.form.csrf_token }}
                {{ render_field(data.form.password, class="form-control") }}
                {{ render_field(data.form.password2, class="form-control") }}
                <button class="btn btn-primary" type="submit">Изменить пароль.</button>
            </form>
        </div>
    </div>
{% endblock %}