{% extends "base.html" %}
{% from 'macros/_formhelpers.html' import render_field %}

<!-- :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->

{% block content %}
    <h3>Страница запроса на сброс пароля</h3>
    <p>Введите свой email, на который будет отправленна инструкция по сбросу
        пароля.
    </p>
    <form method="POST" action="/reset_password">
        {{ data.form.csrf_token }}
        {{ render_field(data.form.email) }}
        <button>Отправить инструкцию.</button>
    </form>
{% endblock %}