{% extends "base.html" %}

{% block content %}
<div class="page-header">
    <h1>
        Привет, {{ current_user.name }}!
    </h1>
    <h3>Вы еще не подтвердили свою учетную запись.</h3>
    <p>
       Прежде чем вы сможете получить доступ к этому сайту, вам необходимо подтвердить 
       свою учетную запись. Проверьте свой почтовый ящик, вы должны были получить 
       электронное письмо с подтверждением.
    </p>
    <p>
        Нужно другое подтверждение?
        <a href="{{ url_for('auth.resend_confirmation') }}">Сюда</a>
    </p>
</div>
{% endblock %}
