{% extends "base.html" %}

{% block content %}
<div class="page-header">
    <div class="Box mt-3">
        <div class="Box-header">
            <small>Страница подтверждения учётной записи.</small>
        </div>
        <div class="Box-body">
            <h3>Привет, {{ current_user.name }}!
            </h3>
            <h4>Ваша учётная запись ещё не подтверждена.</h4>
            <p>
                Прежде чем вы сможете получить доступ к этому сайту, вам необходимо подтвердить 
                свою учетную запись. Проверьте свой почтовый ящик, вы должны были получить 
                электронное письмо с подтверждением.
            </p>
            <a class="btn btn-sm" href="{{ url_for('auth.resendConfirmation_request') }}">Отправить снова</a>
        </div>
    </div>
    
</div>
{% endblock %}
