{% extends 'base.html' %}
{% from 'macros/_pagination.html' import render_pagination %}
{% block style %}
    <link rel="stylesheet" href="{{ url_for('post.static', filename='css/post.css') }}" />
{% endblock %}
{% block scripts %}{% endblock %}

<!-- :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->

{% block content %}
    <div class="columns">
        <aside class="one-fourth column mt-3">
            {% include '_nav_panell.html' %}
        </aside>
        <div class="three-fourths column">
            {% for post in data.page_posts %}
                <article class="Box my-3 post">
                    <div class="Box-body post-body" style="padding-bottom:10px;">
                        <h3><a href="{{ url_for('post.post_page', id=post.id) }}">{{ post.title }}</a></h3>
                        <small class="date">написан: <span>{{ post.data_creation.strftime('%d.%m.%Y') }}</span></small> 
                    </div>
                </article>
            {% endfor %}
            {% if data.all_posts.count() > data.count_items %}
                {{ render_pagination(data.pagination, data.endpoint) }}
            {% endif %}
        </div>
    </div>
{% endblock %}
