{% extends 'base.html' %}
{% block style %}{% endblock %}
{% block scripts %}{% endblock %}

<!-- :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->

{% block content %}
    <div class="columns mt-3">
        <aside class="one-fourth column">
            {% include '_nav_panell.html' %}
        </aside>
        <div class="three-fourths column">
            <div class="Box">
                {% for role in data.roles %}
                    <div class="Box-row">
                        <a href="{{ url_for('admin.adminRoleUsers_page', role=role.name) }}">
                            {{ role.name }}
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
