{% extends 'base.html' %}
{% block style %}
    <link rel="stylesheet" href="{{ url_for('comment.static', filename='css/comment.css') }}">
{% endblock %}
{% block sripts %}{% endblock %}

<!-- :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->

{% block content %}
    <div class="columns mt-3">
        <aside class="one-fourth column">
            {% include 'components/_nav_user.html' %}
        </aside>
        <div class="three-fourths column">
            <div class="Box comment">
                <div class="Box-header">
                    {% if data.comment.author.photo_url %}
                        <a class="user-avatar" href="{{ url_for('user.profile_page', username=data.comment.author.name) }}">
                            <span><img width="33px" src="{{ url_for('uploads', filename=data.comment.author.photo_url) }}" alt="Аватар"></span>
                            <span>{{ data.comment.author.name }}</span>
                        </a>
                    {% else %}
                        <a class="user-avatar" href="{{ url_for('user.profile_page', username=data.comment.author.name) }}">
                            <span><img width="33px" src="{{ data.comment.author.gravatar(size=50) }}" alt="Аватар"></span>
                            <span>{{ data.comment.author.name }}</span>
                        </a>
                    {% endif %}
                    {% if data.comment.state == 'develop' %} <small class="dev anim-pulse">требуется доработать</small> {% endif %}
                    {% if current_user == data.comment.author %}
                        <a class="btn btn-sm btn-outline edit-btn" 
                            role="btn" 
                            href="{{ url_for('comment.editComment_page', comment_id=data.comment.id) }}">
							Редактировать
						</a>
					{% endif %}
                </div>
                <div class="Box-body">
                    <small>
                        {{ data.comment.timestamp.strftime('%d.%m.%Y') }}
                        к посту: 
                        {% if not data.comment.post.id %}
                            удалён
                        {% else %}
                            <a href="{{ url_for('post.post_page', id=data.comment.post.id) }}">{{ data.comment.post.title }}</a>
                        {% endif %}
                    </small>
                    <p>
                        {{ data.comment.body_html|safe }}
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
