.post .post-date {
  font-size: 11px;
  margin-bottom: 15px;
  display: block;
}
.post .post-views,
.post .post-rating {
  float: right;
}
.post .post-views span,
.post .post-rating span {
  vertical-align: middle;
  display: inline-block;
  margin-top: -4px;
}
.post .post-views span i,
.post .post-rating span i {
  margin-left: 12px;
  margin-top: 5px;
  font-size: 22px;
  color: #c3c6ca;
}
.post .post-views span a,
.post .post-rating span a {
  display: inline-block;
}
.post .post-views span a i,
.post .post-rating span a i {
  color: #28a745;
}
.post .post-views span .disabled i,
.post .post-rating span .disabled i {
  color: #c3c6ca;
}
.post .body h1,
.post .body h2,
.post .body h3,
.post .body h4,
.post .body h5,
.post .body h6,
.post .body blockquote {
  margin: 10px 0;
  margin-top: 20px;
}
.post .body ol {
  list-style-type: decimal;
}
.post .body ul {
  list-style-type: disc;
}
.post .body ul,
.post .body ol {
  padding-left: 20px;
}
.post .body ul ul,
.post .body ol ol {
  list-style-type: circle;
}
.post .body p,
.post .body table {
  margin-top: 15px;
}
.post .body table {
  margin-bottom: 15px;
}
.post .body img,
.post .body video,
.post .body pre,
.post .body iframe {
  max-width: 100%;
  border: 1px solid #d1d5da;
  border-radius: 3px;
  padding: 5px;
}
.post .body table tr:nth-child(2n) {
  background-color: #f6f8fa;
}
.post .body blockquote {
  padding: 0 15px;
  color: #777;
  border-left: 4px solid #ddd;
}
.post .body table th,
.post .body table td {
  border: 1px solid #e1e4e8;
  padding: 7px;
}
.post .body code {
  border-radius: 3px;
}


.post .Box-header .dev {
  color: red;
}
.post .Box-header .btn {
  float: right;
  margin-top: -2px;
}
.post .Box-footer .comment-btn {
  float: right;
  margin-top: -32px;
}

