.follow .user-avatar img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.follow .user-avatar span {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  font-size: 14px;
}
.follow .user-avatar span:nth-child(2) {
  margin-top: -5px;
}
.follow .user-avatar:hover {
  text-decoration: none;
}
.follow .btn {
  float: right;
  margin-top: 13px;
}
