{% extends 'base.html' %}
{% from 'macros/_formhelpers.html' import render_field %}

<!-- :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->

{% block content %}
    <section class="columns mt-3 edit-account">
        <aside class="one-fourth column">
            {% include 'components/_nav_settings.html' %}
        </aside>
        <div class="three-fourths column">
            <div class="Box">
                <div class="Box-header">
                    <small>Изменение пароля</small>
                </div>
                <div class="Box-row">
                    <form method="POST" novalidate>
                        {{ data.form.csrf_token }}
                        {{ render_field(data.form.old_password, class="form-control") }}
                        <p class="note">
                            Введите пароль который вы обычно используете при авторизации
                        </p>
                        <hr>
                        {{ render_field(data.form.password, class="form-control") }}
                        <p class="note">
                            Новый пароль не должен быть меньше 8 и больше 64 символов
                        </p>
                        <hr>
                        {{ render_field(data.form.password2, class="form-control") }}
                        <p class="note">
                            Данное поле должно совпадать с новым паролем
                        </p>
                        <br><hr>
                        <button class="btn btn-sm" type="submit">Изменить пароль</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
