.follow .user-avatar {
  padding: 10px 10px 10px 0;
}
.follow .user-avatar img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.follow .user-avatar span {
  font-size: 14px;
  font-weight: bold;
}
.follow .user-avatar span:nth-child(2) {
  margin-top: -5px;
}
.follow .user-avatar:hover {
  text-decoration: none;
}
.follow .btn {
  float: right;
  margin-top: 12px;
}
