{% extends 'base.html' %}
{% from 'macros/_formhelpers.html' import render_field %}
{% block style %}
	<link rel="stylesheet" href="{{ url_for('main.static', filename='css/home.css') }}">
{% endblock %}
{% block scripts %}
	<script src="{{ url_for('static', filename='js/scripts/ajax_form.js') }}"></script>
{% endblock %}

<!-- :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->

{% block content %}
	<section class="home mt-3">
		<div class="blankslate">
			<h3>This is a blank slate</h3>
			<p>Равным образом укрепление и развитие структуры позволяет выполнять 
				важные задания по разработке направлений прогрессивного развития. 
				Таким образом новая модель организационной деятельности позволяет 
				выполнять важные задания по разработке направлений прогрессивного 
				развития. Таким образом сложившаяся структура организации позволяет 
				оценить значение направлений прогрессивного развития. С другой 
				стороны рамки и место обучения кадров влечет за собой процесс 
				внедрения и модернизации позиций, занимаемых участниками в отношении 
				поставленных задач.</p>
				<form class="mt-4" action="{{ url_for('main.searchForm_req') }}" method="POST">
					{{ data.form.csrf_token }}
					{{ render_field(data.form.q, placeholder='Найти публикацию', class="form-control") }}
				</form>
				<div class="tags mt-6">
					<ul>
						{% for tag in data.tags %}
							<li>
								<a href="{{ url_for('post.tagPosts_page', id=tag.id) }}" class="Label Label--gray-darker mx-1 p-2">
									{{ tag.name }}
								</a>
							</li>
						{% endfor %}
					</ul>
				</div>
		</div>
    </section>
{% endblock %}