<article class="Box my-3 post">
    <div class="Box-header">
        {% if post.author.photo_url %}
            <a class="user-avatar" href="{{ url_for('user.profile_page', username=post.author.name) }}">
                <span><img width="33px" src="{{ url_for('uploads', filename=post.author.photo_url) }}" alt="Аватар"></span>
                <span>{{ post.author.name }}</span>
            </a>
        {% else %}
            <a class="user-avatar" href="{{ url_for('user.profile_page', username=post.author.name) }}">
                <span><img width="33px" src="{{ post.author.gravatar(size=50) }}" alt="Аватар"></span>
                <span>{{ post.author.name }}</span>
            </a>
        {% endif %}
        <small class="post-views">
            <span><i class="material-icons">visibility</i></span>
            <span class="Counter">{{ post.views }}</span>
        </small>
        <small class="post-rating">
            <span><i class="material-icons">add</i></span>
            <span class="Counter">{{ post.ratings.count() }}</span>
        </small>
    </div>
    <div class="Box-body post-body p-3">
        <small class="post-date">написан: {{ post.data_creation.strftime('%d.%m.%Y') }}</small> 
        <h3><a href="{{ url_for('post.post_page', id=post.id) }}">{{ post.title }}</a></h3>
        <p>
            {% if post.body_html %}
                {{ post.body_html|safe|truncate(500) }}
                <span class="hidden-text-expander">
                    <a role="btn" class="ellipsis-expander" 
                        href="{{ url_for('post.post_page', id=post.id) }}">&hellip;</a>
                </span>
            {% else %}
                {{ post.text|truncate(500) }}
            {% endif %}
        </p>
    </div>
</article>