{% extends 'base.html' %}
{% from 'macros/_formhelpers.html' import render_field %}
{% block scripts %}
	{{ pagedown.include_pagedown() }}
{% endblock %}

<!-- :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->

{% block content %}
	<article>
		<p>
			<a href="{{ url_for('user.profile_page', username=data.post.author.name) }}">
				<small>
					<img src="{{ data.post.author.gravatar(size=50) }}" alt="Аватар">
					{{ data.post.author.name }}
				</small>
			</a>
			<small>{{ data.post.data_creation.strftime('%Y/%m/%d') }}</small> 
			{% if current_user == data.post.author %}
				<a href="{{ url_for('post.editPost_page', id=data.post.id) }}">
					Редактировать пост
				</a>
			{% endif %}
		</p>
		<h4>{{ data.post.title }}</h4>
		<p>
			{% if data.post.body_html %}
				{{ data.post.body_html|safe }}
			{% else %}
				{{ data.post.text }}
			{% endif %}
		</p>
		<h2>комментарии:</h2>
		<hr>
		{% if not current_user.is_anonymous %}
			<section>
				<h3>Добавить комментарий:</h3>
				<form method="POST">
					{{ data.form.csrf_token }}
					{# TODO: 
						only_input - показывает только форму редактирования,
						only_preview - показывает только презитацию того что было написано в форме
						например: 
						{{ render_field(data.form.body, rows=10, cols=60, only_input=True) }} 
					#}
					{{ render_field(data.form.body, rows=10, cols=60) }}
					<button>Добавить комментарий</button>
				</form>
			</section>
		{% else %}
			<p>Войдите чтобы оставить комментарий. <a href="{{ url_for('auth.login_page') }}">Войти</a></p>
		{% endif %}
		{% for comment in data.comments %}
			<ul>
				{% include 'components/_comment.html' %}
			</ul>
		{% endfor %}
	</article>
{% endblock %}