{% extends 'base.html' %}
{% from 'macros/_pagination.html' import render_pagination %}

<!-- :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->

{% block content %}
    <section class="columns">
        <aside class="one-fourth column my-3">
            {% include 'components/_nav_user.html' %}
        </aside>
        <div class="three-fourths column">
            <ul>
                {% for post in data.posts %}
                    <li>
                        {% include 'post/_post_small.html' %}
                    </li>
                {% endfor %}
            </ul>
            {{ render_pagination(data.pagination, data.endpoint, username=data.user.name) }}
        </div>
    </section>
{% endblock %}
