{% extends 'base.html' %}
{% from 'macros/_pagination.html' import render_pagination %}
{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/components/nav_user.css') }}" />
	<link rel="stylesheet" href="{{ url_for('static', filename='css/pages/post.css') }}" />
{% endblock %}
{% block scripts %}{% endblock %}

<!-- :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->

{% block content %}
    <section class="columns">
        <aside class="one-fourth column my-3">
            {% include 'components/_nav_user.html' %}
        </aside>
        <div class="three-fourths column">
            {% if data.page_posts %}
                <ul>
                    {% for post in data.page_posts %}
                        <li>
                            {% include 'post/_post_small.html' %}
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <div class="Box mt-3 p-3">
                    <p>На данный момент публикаций нет.</p>
                </div>
            {% endif %}
            {% if data.posts.count() > data.posts_per_page %}
                {{ render_pagination(data.pagination, data.endpoint, username=data.user.name) }}
            {% endif %}
        </div>
    </section>
{% endblock %}
