{% extends 'base.html' %}
{% block style %}{% endblock %}
{% block scripts %}{% endblock %}

<!-- :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->

{% block content %}
    <div class="columns mt-3 anim-fade-in">
        <aside class="one-fourth column">
            {% include 'user/admin/_nav_panell.html' %}
        </aside>
        <div class="three-fourths column">
            <div class="Box">
                <div class="Box-header">
                    <small>Dashboard</small>
                </div>
                <div class="Box-body">
                    <p>Данная страница находится в разработке</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
