{% extends 'base.html' %}
{% from 'macros/_formhelpers.html' import render_field %}

<!-- :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->

{% block content %}
    <section class="columns mt-3 edit-account">
        <aside class="one-fourth column">
            {% include 'components/_nav_settings.html' %}
        </aside>
        <div class="three-fourths column">
            <div class="Box">
                <div class="Box-header">
                    <small>Изменение логина</small>
                </div>
                <div class="Box-row">
                    <form method="POST" novalidate>
                        {{ data.form.csrf_token }}
                        <p class="note">
                            Email-адрес не должен быть меньше 5, больше 64 символов
                        </p>
                        {{ render_field(data.form.email, value=current_user.email, class="form-control") }}
                        <br><hr>
                        <button class="btn btn-sm" type="submit">Изменить email</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
