{% extends 'base.html' %}
{% from 'macros/_formhelpers.html' import render_field %}

<!-- :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->

{% block content %}
    <script>
        var data_value = '{{ current_user.about_me }}';
    </script>
    <section class="columns mt-3">     
        <aside class="one-fourth column">
            {% include 'components/_nav_settings.html' %}
        </aside>
        <div class="three-fourths column">
            <div class="Box">
                <div class="Box-header">
                    <small>Настройки профиля</small>
                </div>
                <div class="Box-body">
                    <form method="POST" enctype=multipart/form-data>
                        {{ data.form.csrf_token }}
                        {{ render_field(data.form.photo) }}            
                        {{ render_field(data.form.first_name, value=current_user.first_name, class="form-control") }}
                        {{ render_field(data.form.last_name, value=current_user.last_name, class="form-control") }}
                        {{ render_field(data.form.about, cols=50, rows=10, class="form-control") }}
                        {{ render_field(data.form.location, value=current_user.location, class="form-control") }}
                        
                        <button class="btn btn-sm btn-primary" type="submit">Сохранить</button>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <script>
        var el = document.getElementById('about');
        el.value = data_value;
    </script>
{% endblock %}
