{% extends 'base.html' %}
{% from 'macros/_pagination.html' import render_pagination %}

<!-- :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->

{% block content %}
    <div class="page-header">
        <span>
            <a href="{{ url_for('user.profile_page', username=data.user.name) }}">
                <img src="{{ data.user.gravatar(size=32) }}">
                {{ data.user.name }}
            </a>
        </span>
        <span> - {{ data.title }}:</span>
    </div>
    <hr>
    <table>
        <thead>
            <tr>
                <th>Пользователь</th>
                <th>Подписан</th>
            </tr>
        </thead>
        {% for follow in data.follows %}
            {% if follow.user != data.user %}
                <tr>
                    <td>
                        <a href="{{ url_for('user.profile_page', username=follow.user.name) }}">
                            <img src="{{ follow.user.gravatar(size=32) }}">
                            {{ follow.user.name }}
                        </a>
                    </td>
                    <td>{{ follow.timestamp.strftime('%Y/%m/%d') }}</td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>
    <div class="pagination">
        {{ render_pagination(data.pagination, data.endpoint, user_id=data.user.id) }}
    </div>
{% endblock %}
