{% extends 'base.html' %}

<!-- :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->

{% block content %}
    <h3>Пользователь.</h3>
    <ul>
        <li><a href="{{ url_for('user.profile_page', username=data.user.name) }}">Профиль</a></li>
        <li><a href="{{ url_for('post.userPosts_page', username=data.user.name) }}">Публикации</a></li>
        <li><a href="#">Комментарии</a></li>
    </ul>
    <div>
        <img src="{{ data.user.gravatar(default='mm') }}" alt="Аватар">
        <p>
            {% if data.user.first_name or data.user.last_name %}
                <i>{{ data.user.first_name }} </i>
                <i>{{ data.user.last_name }}</i>
            {% endif %}
        </p>
        <p>
            <b>Обо мне:</b>
            {% if data.user.about_me %}
                <i>{{ data.user.about_me }}</i>
            {% endif %}
        </p>
        <p>
            <b>Зарегестрирован на сайте:</b> 
            <b>{{ data.user.date_registration.strftime('%Y/%m/%d в %H:%M:%S') }}</b>
        </p>
    </div>

{% endblock %}