{% extends 'base.html' %}

<!-- :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->

{% block content %}
    <h3>Ваш профиль.</h3>
    <ul>
        <li><a href="#">Профиль</a></li>
        <li><a href="#">Публикации</a></li>
        <li><a href="#">Комментарии</a></li>
    </ul>
    <div>
        <p>
            <b>Имя и Фамилия:</b>
            {% if current_user.first_name or current_user.last_name %}
                <i>{{ current_user.first_name }} </i>
                <i>{{ current_user.last_name }}</i>
            {% endif %}
        </p>
        <p>
            <b>Email:</b> 
            <i>{{ current_user.email }}</i>
        </p>
        <p>
            <b>Обо мне:</b>
            {% if current_user.about_me %}
                <i>{{ current_user.about_me }}</i>
            {% endif %}
        </p>
        <p>
           <b> Местоположение:</b>
            {% if current_user.location %}
                <i>{{ current_user.location }}</i>
            {% endif %}
        </p>
        <p>
            <b>Зарегестрирован на сайте:</b> 
            <b>{{ current_user.date_registration.strftime('%Y/%m/%d %H:%M:%S') }}</b>
        </p>
        {% if current_user.confirmed %}
            <p><b>Статус:</b> <i>подтверждён</i></p>
        {% else %}
            <p><b>Статус:</b> <i>не подверждён</i></p>
        {% endif %}
    </div>

{% endblock %}