{% extends 'base.html' %}
{% from 'macros/_formhelpers.html' import render_field %}
{% block style %}
	<link rel="stylesheet" href="{{ url_for('post.static', filename='css/post.css') }}" />
	<link rel="stylesheet" href="{{ url_for('comment.static', filename='css/comment.css') }}">
	<link rel="stylesheet" href="{{ url_for('post.static', filename='css/scroll_up.css') }}" />
{% endblock %}
{% block scripts %}
	<script src="{{ url_for('post.static', filename='js/create_nav.js') }}"></script>
	<script src="{{ url_for('post.static', filename='js/fixed_nav.js') }}"></script>
	<script src="{{ url_for('post.static', filename='js/scroll_up.js') }}"></script>
{% endblock %}

<!-- :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->

{% block content %}
	<section class="columns">
        <aside class="one-fourth column">
		   {% include 'components/_nav_publications.html' %}
		   <div id="sticky">
				<section class="nav-publications nav-post nav-left">
					{{ data.post.t_contents_html|safe }}
					<nav class="menu my-3">
						<span class="menu-heading">
							<span>Навигация по посту</span>
							<span><i class="material-icons">arrow_drop_down</i></span>
						</span>
					</nav>
				</section>
		   </div>
        </aside>
        <div class="three-fourths column">
			<article class="Box my-3 post">
				<div class="Box-header">
					{% if data.post.author.photo_url %}
						<a class="user-avatar" href="{{ url_for('user.profile_page', username=data.post.author.name) }}">
							<span><img width="33px" src="{{ url_for('uploads', filename=data.post.author.photo_url) }}" alt="Аватар"></span>
							<span>{{ data.post.author.name }}</span>
						</a>
					{% else %}
						<a class="user-avatar" href="{{ url_for('user.profile_page', username=data.post.author.name) }}">
							<span><img width="33px" src="{{ data.post.author.gravatar(size=50) }}" alt="Аватар"></span>
							<span>{{ data.post.author.name }}</span>
						</a>
					{% endif %}
					{% if data.post.state == 'develop' %} <small class="dev anim-pulse">требуется доработать</small> {% endif %}
					
					{% if current_user == data.post.author %}
						<a class="btn btn-sm btn-outline ml-3" href="{{ url_for('post.editPost_page', id=data.post.id) }}">
							Редактировать
						</a>
					{% endif %}
					<small class="post-views">
						<span><i class="material-icons">visibility</i></span>
						<span class="Counter">{{ data.post.views }}</span>
					</small>
					<small class="post-rating">
						<span>
							<a {% if not data.rating_bool %} 
									href="{{ url_for('post.changeRating_request', id=data.post.id) }}"
								{% else %} 
									class="disabled"
								{% endif %}>
								<i class="material-icons">add</i>
							</a>
						</span>
						<span class="Counter">{{ data.post.rating }}</span>
					</small>
				</div>
				<div class="Box-body post-body">
					<small class="post-date">написан: {{ data.post.data_creation.strftime('%d.%m.%Y') }}</small>
					<h3>{{ data.post.title }}</h3>
					<hr>
					{% if data.tags %}
						{% for i in data.tags %}
							<a href="{{ url_for('post.tagPosts_page', id=i.tag.id) }}" class="Label Label--gray-darker mt-1 mr-1">{{ i.tag.name }} </a>
						{% endfor %}
					{% endif %}
					<hr>
					<div class="body">
						{{ data.post.body_html|safe }}
					</div>
				</div>
				<div class="Box-footer">
					<ul class="social-buttons">
						<li><a class="facebook" target="_blank" rel="noopener" title="Добавить ссылку в Facebook"
								href="https://www.facebook.com/sharer/sharer.php?u={{ data.base_url }}&amp;t={{ data.post.title }}"
								onclick="window.open(this.href, 'Опубликовать ссылку в Facebook', 'width=640,height=436,toolbar=0,status=0'); return false">
							<svg class="icon-svg" aria-hidden="true" aria-labelledby="title" version="1.1" role="img" 
							width="24" height="24" viewBox="0 0 24 24">
								<path d="M14.889 8.608h-1.65c-.195 0-.413.257-.413.6v1.192h2.063v1.698h-2.063v5.102h-1.948v-5.102h-1.766v-1.698h1.766v-1c0-1.434.995-2.6 2.361-2.6h1.65v1.808z"></path>
							</svg>
						</a></li>
						<li><a class="twitter" target="_blank" rel="noopener" title="Добавить ссылку в Twitter" 
								href="https://twitter.com/intent/tweet?text={{ data.post.title }}&amp;url={{ data.base_url }}"
								onclick="window.open(this.href, 'Поделиться ссылкой в Twitter', 'width=800,height=300,toolbar=0,status=0'); return false">
							<svg class="icon-svg" aria-hidden="true" aria-labelledby="title" version="1.1" role="img" 
							width="24" height="24" viewBox="0 0 24 24">
								<path d="M17.414 8.642c-.398.177-.826.296-1.276.35.459-.275.811-.71.977-1.229-.43.254-.905.439-1.41.539-.405-.432-.982-.702-1.621-.702-1.227 0-2.222.994-2.222 2.222 0 .174.019.344.058.506-1.846-.093-3.484-.978-4.579-2.322-.191.328-.301.71-.301 1.117 0 .77.392 1.45.988 1.849-.363-.011-.706-.111-1.006-.278v.028c0 1.077.766 1.974 1.782 2.178-.187.051-.383.078-.586.078-.143 0-.282-.014-.418-.04.282.882 1.103 1.525 2.075 1.542-.76.596-1.718.951-2.759.951-.179 0-.356-.01-.53-.031.983.63 2.15.998 3.406.998 4.086 0 6.321-3.386 6.321-6.321l-.006-.287c.433-.314.81-.705 1.107-1.15z"></path>
							</svg>
						</a></li>
						<li><a class="vk" target="_blank" rel="noopener" title="Добавить ссылку в Vk" 
								href="https://vk.com/share.php?url={{ data.base_url }}&amp;title={{ data.post.title }}"
								onclick="window.open(this.href, 'Поделиться ссылкой в Vk', 'width=800,height=300,toolbar=0,status=0'); return false">
							<svg class="icon-svg" aria-hidden="true" aria-labelledby="title" version="1.1" role="img" 
							width="24" height="24" viewBox="0 0 24 24">
								<path d="M16.066 11.93s1.62-2.286 1.782-3.037c.054-.268-.064-.418-.343-.418h-1.406c-.322 0-.44.139-.537.343 0 0-.76 1.619-1.685 2.64-.297.33-.448.429-.612.429-.132 0-.193-.11-.193-.408v-2.607c0-.365-.043-.472-.343-.472h-2.254c-.172 0-.279.1-.279.236 0 .343.526.421.526 1.352v1.921c0 .386-.022.537-.204.537-.483 0-1.631-1.663-2.274-3.552-.129-.386-.268-.494-.633-.494h-1.406c-.204 0-.354.139-.354.343 0 .375.44 2.114 2.167 4.442 1.159 1.566 2.683 2.414 4.056 2.414.838 0 1.041-.139 1.041-.494v-1.202c0-.301.118-.429.29-.429.193 0 .534.062 1.33.848.945.901 1.01 1.276 1.525 1.276h1.578c.161 0 .311-.075.311-.343 0-.354-.462-.987-1.17-1.738-.29-.386-.762-.805-.912-.998-.215-.226-.151-.354-.001-.59z"></path>
							</svg>
						</a></li>
						<li><a class="telegram" target="_blank" rel="noopener" title="Добавить ссылку в Telegram" 
								href="https://t.me/share/url?url={{ data.base_url }}&amp;title={{ data.post.title }}"  
								onclick="window.open(this.href, 'Поделиться ссылкой в Telegram', 'width=800,height=300,toolbar=0,status=0'); return false">
							<svg class="icon-svg" aria-hidden="true" aria-labelledby="title" version="1.1" role="img" 
							width="24" height="24" viewBox="0 0 24 24">
								<path d="M17.17 7.621l-10.498 3.699c-.169.059-.206.205-.006.286l2.257.904 1.338.536 6.531-4.796s.189.057.125.126l-4.68 5.062-.27.299.356.192 2.962 1.594c.173.093.397.016.447-.199.058-.254 1.691-7.29 1.728-7.447.047-.204-.087-.328-.291-.256zm-6.922 8.637c0 .147.082.188.197.084l1.694-1.522-1.891-.978v2.416z"></path>
							</svg>
						</a></li>
						<li>
							<a href="https://getpocket.com/edit?url={{ data.base_url }}&amp;title={{ data.post.title }}" class="pocket" title="Добавить ссылку в Pocket" target="_blank" rel="noopener">
							</a>
						</li>
						<li>
							<a class="google" target="_blank" title="Добавить ссылку в Google+" rel="noopener"
								href="https://plus.google.com/share?url={{ data.base_url }}"
								onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=350,width=480');return false;">
								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512 512"  xml:space="preserve">
									<g><g>
										<polygon points="448,224 448,160 416,160 416,224 352,224 352,256 416,256 416,320 448,320 448,256 512,256 512,224   " fill="#FFFFFF"/>
									</g></g>
									<g><g>
										<path d="M160,224v64h90.528c-13.216,37.248-48.8,64-90.528,64c-52.928,0-96-43.072-96-96c0-52.928,43.072-96,96-96    c22.944,0,45.024,8.224,62.176,23.168l42.048-48.256C235.424,109.824,198.432,96,160,96C71.776,96,0,167.776,0,256    s71.776,160,160,160s160-71.776,160-160v-32H160z" fill="#FFFFFF"/>
									</g></g>	
								</svg>
							</a>
						</li>
					</ul>
					<a href="{{ url_for('comment.addComment_page', id=data.post.id) }}" 
								class="btn btn-sm btn-primary comment-btn">Комментировать</a>

								
				</div>
			</article>
			{% if data.post.state != 'develop' %}
				{% for comment in data.comments %}
					<ul>
						{% include '_comment_small.html' %}
					</ul>
				{% endfor %}
			{% endif %}
        </div>
    </section>
{% endblock %}