{% extends 'base.html' %}
{% from 'macros/_pagination.html' import render_pagination %}
{% block style %}
	<link rel="stylesheet" href="{{ url_for('post.static', filename='css/post.css') }}" />
{% endblock %}
{% block scripts %}{% endblock %}

<!-- :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->

{% block content %}
	<section class="columns">
        <aside class="one-fourth column">
			{% include 'components/_nav_publications.html' %}
        </aside>
        <div class="three-fourths column">
			{% if data.page_posts %}
				<ul>
					{% for post in data.page_posts %}
						<li>
							{% include '_post_small.html' %}
						</li>
					{% endfor %}
				</ul>
				{% if data.all_posts.count() > data.count_items %}
					{% if data.tag %}
						{{ render_pagination(data.pagination, data.endpoint, id=data.tag.id) }}
					{% else %}
						{{ render_pagination(data.pagination, data.endpoint) }}
					{% endif %}
				{% endif %}
			{% else %}
				<div class="blankslate my-3">
					<p>На данный момент постов по данному запросу нет.</p>
				</div>
			{% endif %}
        </div>
    </section>
{% endblock %}