li {
  list-style: none;
}
body {
  background-color: #fafafa;
}
.main {
  padding-bottom: 50px;
}
.close {
  background-color: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
}
.counter {
  display: inline-block;
  padding: 2px 5px;
  font-size: 11px;
  font-weight: bold;
  line-height: 1;
  color: #666;
  background-color: #eee;
  border-radius: 20px;
}
.nav-left .tooltipped-s::before {
  margin-left: 8em;
  top: 30px;
  right: 0;
  left: 50%;
}
.nav-left .tooltipped-s::after {
  position: relative;
  right: 0;
  margin-left: -80px;
}
.nav-left .Counter {
  margin-top: 3px;
}
.user-avatar img {
  border-radius: 50%;
}
.user-avatar span {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}
.user-avatar span:nth-child(2) {
  margin-top: -3px;
}
.user-avatar:hover {
  text-decoration: none;
}
blockquote {
  padding: 0 15px;
  color: #777;
  border-left: 4px solid #ddd;
}
table th,
table td {
  border: 1px solid #e1e4e8;
  padding: 7px;
}
code {
  border-radius: 3px;
}
.nav .nav-user-avatar {
  margin-bottom: 15px;
  padding: 5px;
}
.nav .nav-user-avatar img {
  display: block;
  width: 100%;
  border-radius: 4px;
}
.Box-header {
  padding-top: 10px;
  padding-bottom: 5px;
  background-color: transparent;
}
.Box-header small {
  display: inline-block;
  padding-bottom: 5px;
  font-size: 13px;
  font-weight: 600;
  line-height: 20px;
  color: #586069;
}
.edit-btn {
  float: right;
  margin-top: 3px;
}
.paginate-container {
  text-align: left;
}
.Subhead-heading {
  font-size: 13px;
  padding-top: 8px;
}
