ul {
  list-style: none;
}
body {
  background-color: #f8f8f8;
}
.main {
  padding-bottom: 50px;
}
.close {
  background-color: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
}
.nav-left .tooltipped-s::before {
  margin-left: 8em;
  top: 30px;
  right: 0;
  left: 50%;
}
.nav-left .tooltipped-s::after {
  position: relative;
  right: 0;
  margin-left: -80px;
}
.nav-left .Counter {
  margin-top: 3px;
}
.nav .nav-user-avatar {
  margin-bottom: 15px;
  padding: 3px;
}
.nav .nav-user-avatar img {
  display: block;
  width: 100%;
  border-radius: 4px;
}
.paginate-container {
  text-align: left;
}
.Subhead {
  border: none;
}
.Subhead .Subhead-actions {
  margin-top: 7px;
}
.Subhead-heading {
  font-size: 13px;
  padding-top: 8px;
}
.tags li {
  display: inline-block;
}
.Box,
.Box-header,
.menu,
.menu-heading {
  border-color: #e1e4e8;
}
.Box-header {
  padding-top: 10px;
  padding-bottom: 5px;
  background-color: transparent;
}
.Box-header small {
  display: inline-block;
  vertical-align: middle;
  padding-bottom: 5px;
  font-size: 13px;
  font-weight: 600;
  line-height: 20px;
  color: #586069;
}
.anim-grow-x {
  padding: 2px;
}
.flask-moment {
  display: inline-block;
}
