ul {
  list-style: none;
}
body {
  background-color: #fafafa;
}
.main {
  padding-bottom: 50px;
}
.close {
  background-color: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
}
.nav-left .tooltipped-s::before {
  margin-left: 8em;
  top: 30px;
  right: 0;
  left: 50%;
}
.nav-left .tooltipped-s::after {
  position: relative;
  right: 0;
  margin-left: -80px;
}
.nav-left .Counter {
  margin-top: 3px;
}

.nav {
  .nav-user-avatar {
      margin-bottom: 15px;
      padding: 5px;
      img {
          display: block;
          width: 100%;
          border-radius: 4px;
      }
  }
}

.paginate-container {
  text-align: left;
}
.Subhead-heading {
  font-size: 13px;
  padding-top: 8px;
}
.tags {
  li {
    display: inline-block;
  }
}

.Box-header {
  padding-top: 10px;
  padding-bottom: 5px;
  background-color: transparent;
  small {
      display: inline-block;
      vertical-align: middle;
      padding-bottom: 5px;
      font-size: 13px;
      font-weight: 600;
      line-height: 20px;
      color: #586069;
  }
}