<section class="nav nav-left">
    <nav class="menu">
        <span class="menu-heading">Информация о пользователе</span>
        <a class="menu-item" href="#">
            Роли
        </a>
        <a class="menu-item" href="#">
            Уведомления
        </a>
        <a class="menu-item" href="#">
            Пользователи
        </a>
        <a class="menu-item" href="#">
            Публикации
        </a>
        <a class="menu-item" href="#">
            Комментарии
        </a>
        <a class="menu-item" href="#">
            Теги
        </a>
    </nav>
</section>