{% extends 'base.html' %}
{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pages/follow.css') }}">
{% endblock %}
{% block scripts %}{% endblock %}

<!-- :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->

{% block content %}
    <div class="columns mt-3">
        <aside class="one-fourth column">
            {% include 'admin/_nav_panell.html' %}
        </aside>
        <div class="three-fourths column follow">
            <div class="Box follow">
                {% for user in data.users %}
                    <div class="Box-row">
                        <a class="user-avatar" href="#">
                            <span><img class="Avatar" src="{{ user.gravatar(size=32) }}"></span>
                            <span>{{ user.name }}</span>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
