{% macro render_pagination(pagination, endpoint) %}
    <section class="paginate-container mt-0" aria-label="Pagination">
        <div class="pagination">
            <a {% if not pagination.has_prev %} class="previous_page disabled" {% endif %} 
                href="{% if pagination.has_prev %} {{ url_for(endpoint,
                page=pagination.page-1, **kwargs) }} {% else %} # {% endif %}">
                <!-- &laquo; -->
                Previous
            </a>
    
            {% for p in pagination.iter_pages() %}
                {% if p %}
                    {% if p == pagination.page %}
                        <a class="current selected" href="{{ url_for(endpoint, page=p, **kwargs) }}">{{ p }}</a>
                    {% else %}
                        <a href="{{ url_for(endpoint, page=p, **kwargs) }}">{{ p }}</a>
                    {% endif %}
                {% else %}
                    <a class="disabled" href="#">&hellip;</a>
                {% endif %}
            {% endfor %}
    
            <a {% if not pagination.has_next %} class="next_page disabled" {% endif %} 
                href="{% if pagination.has_next %} {{ url_for(endpoint,
                    page=pagination.page+1, **kwargs) }} {% else %} # {% endif %}">
                        <!-- &raquo; -->
                        Next
            </a>
        </div>
    </section>
{% endmacro %}