{% extends 'base.html' %}
{% block style %}{% endblock %}
{% block scripts %}{% endblock %}

<!-- :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->

{% block content %}
    <div class="columns mt-3 anim-fade-in">
        <aside class="one-fourth column">
            {% include 'moderator/_nav_panell.html' %}
        </aside>
        <div class="three-fourths column">
            <div class="Box">
               
            </div>
        </div>
    </div>
{% endblock %}
