{% extends "base.html" %}
{% from 'macros/_formhelpers.html' import render_field %}
{% block style %}
	<link rel="stylesheet" href="{{ url_for('errors.static', filename='css/page_errors.css') }}">
{% endblock %}

<!-- :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->

{% block content %}
	<section class="page_errors mt-3">
		<div class="blankslate">
			<h1>403 ошибка</h1>
			<h4>Доступ запрещен</h4>
			<hr>
			<h5>Отчего возникает ошибка 403?</h5>
			<ul>
                <li>Попытка получить доступ к чужому контенту.</li>
                <li>Попытка изменить чужой контент.</li>
            </ul>
		</div>
	</section>
{% endblock %}