{% extends "base.html" %}
{% from 'macros/_formhelpers.html' import render_field %}

<!-- :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->

{% block content %}
    <div class="Box mt-3">
        <div class="Box-header">
            <small>Страница запроса на сброс пароля</small>
        </div>
        <div class="Box-body">
            <p>Введите свой email, на который будет отправленна инструкция по сбросу
                пароля.
            </p>
            <form method="POST" action="{{ url_for('auth.resetPassword_request') }}">
                {{ data.form.csrf_token }}
                {{ render_field(data.form.email, class="form-control") }}
                <button class="btn btn-sm btn-primary" type="submit">Отправить инструкцию</button>
                <a href="javascript:history.go(-1)" class="btn btn-sm" role="button">Отмена</a>
            </form>
        </div>
    </div>
{% endblock %}