{% extends 'base.html' %}
{% from 'macros/_pagination.html' import render_pagination %}

<!-- :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->

{% block content %}
    <div class="columns notice">
        <aside class="one-fourth column my-3">
            {% include 'components/_nav_user.html' %}
        </aside>
        <div class="three-fourths column">
            <ul>
                {% for notice in data.notice %}
                    <li class="Box my-3">
                        <div class="Box-header">
                            <small><i class="material-icons">notifications_none</i></small>
                            <small>{{ notice.title }}</small>
                            <form method="POST" action="{{ url_for('notice.deleteNotice_request', id=notice.id) }}">
                                <button class="close">&times;</button>
                            </form>
                        </div>
                        <div class="Box-body">
                            <small>
                                когда: {{ notice.timestamp.strftime('%d.%m.%Y') }}
                            </small>
                            <p>
                                {% if notice.body_html %}
                                    {{ notice.body_html|safe }}
                                {% else %}
                                    {{ notice.body|safe }}
                                {% endif %}
                            </p>
                        </div>
                    </li>
                {% endfor %}
            </ul>
            {% if data.notice_count > data.notice_per_page %}
                {{ render_pagination(data.pagination, data.endpoint) }}
            {% endif %}
        </div>
    </div>
{% endblock %}
