<!doctype html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}" type="images/png">
		<link rel="icon" href="{{ url_for('static', filename='img/favicon.png') }}" type="images/png">

		<link rel="stylesheet" href="{{ url_for('static', filename='css/helpers/_normalize.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/helpers/_primer.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
		<!-- components -->
		<link rel="stylesheet" href="{{ url_for('static', filename='css/components/header.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/components/post.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/components/nav_publications.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/components/nav_user.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/components/flash.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/components/follow.css') }}" />
		<!-- pages -->
		<link rel="stylesheet" href="{{ url_for('static', filename='css/pages/edit_account.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/pages/login.css') }}" />
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
		<!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/helpers/_atelier-forest-light.css') }}" /> -->
		<!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/helpers/_atelier-seaside-dark.css') }}" /> -->
		<!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/helpers/_atom-one-dark.css') }}" /> -->
		<link rel="stylesheet" href="{{ url_for('static', filename='css/helpers/_atom-one-light.css') }}" />
		<!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/helpers/_monokai-sublime.css') }}" /> -->

		<title>
			{% if data %}
				 {{ data.page_title }}
			{% else %}
				Тестовый блог
			{% endif %}
		</title>
	</head>
	<body>
		{% include 'components/_header.html' %}
		
		<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
		<script>hljs.initHighlightingOnLoad();</script>
		<div class="container main">
			{% with messages = get_flashed_messages(with_categories=true) %} 
				{% if messages %}
					<ul class="flash-messages">
						{% for category, message in messages %}
							<li class="flash flash-{{ category }}">
								{{ message|safe }}
								<button class="close">&times;</button>
							</li>
						{% endfor %}
					</ul>
				{% endif %}
			{% endwith %}
			{% block content %}{% endblock %}
		</div>

		<!-- Optional JavaScript -->
		<script src="{{ url_for('static', filename='js/buttonClosse_flash.js') }}"></script>
		
	</body>
</html>