<!DOCTYPE html>
<html lang="en">
<head>
  {% block head %}
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  {% if title %}
    <title>{{ title }} - microblog</title>
  {% else %}
    <title>Welcome to microblog</title>
  {% endif %}
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png') }}" type="image/x-icon" />
  <!-- style -->
  <link rel="stylesheet" href="{{ url_for('static', filename='style/lib/reset.css') }}" />
  <!-- <link rel="stylesheet" href="{{ url_for('static', filename='style/lib/normalize.css') }}" /> -->
  <link rel="stylesheet" href="{{ url_for('static', filename='style/main.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='style/components/head.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='style/components/flash.css') }}" />
  {% endblock %}
</head>
<body>
  {% include 'components/head.html' %}
  <main>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class="flash">
          {% for message in messages %}
              <li>{{ message }} </li>
          {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
      {% block body %}{% endblock %}
  </main>
  {% include 'components/footer.html' %}
</body>
</html>