{% extends 'base.html' %}
{% from 'macros/_pagination.html' import render_pagination %}

<!-- :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->

{% block content %}
	<section class="columns">
        <aside class="one-fourth column">
			{% include 'components/_nav_publications.html' %}
        </aside>
        <div class="three-fourths column">
			{% if data.posts %}
				<ul>
					{% for post in data.posts %}
						<li>
							{% include 'post/_post_small.html' %}
						</li>
					{% endfor %}
				</ul>
				{{ render_pagination(data.pagination, 'main.home_page') }}
			{% else %}
				<div class="blankslate my-3">
					<h3>Привет, {{ current_user.name }}</h3>
					<p>Добро пожаловать на наш ресурс.</p>
				  </div>
			{% endif %}
        </div>
    </section>
{% endblock %}