{% extends 'base.html' %}
{% from 'macros/_pagination.html' import render_pagination %}

<!-- :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->

{% block content %}

	<div class="post_tabs">
		<ul>
			<li>
				<a href="{{ url_for('main.allPosts_request') }}">Все посты</a>
			</li>
			<li>
				<a href="{{ url_for('main.followedPosts_request') }}">Подписки</a>
			</li>
		</ul>
	</div>
	{% if data.posts %}
		<ul>
			{% for post in data.posts %}
				<li>
					{% include 'components/_post_small.html' %}
				</li>
			{% endfor %}
		</ul>
		<div class="pagination">
			{{ render_pagination(data.pagination, 'main.home_page') }}
		</div>
	{% else %}
		<p>Постов на данный момент нет.</p>
	{% endif %}
	
{% endblock %}