{% extends 'base.html' %}
{% from 'macros/_formhelpers.html' import render_field %}

<!-- :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->

{% block content %}
    <aside>
        <h4>Персанальные настройки:</h4>
        <ul>
            <li><a href="#">Профиль</a></li>
            <li><a href="#">Аккаунт</a></li>
            <li><a href="#">Email</a></li>
            <li><a href="#">Уведомления</a></li>
            <li><a href="#">Безопасность</a></li>
            <li><a href="#">Настройки сайта</a></li>
        </ul>
    </aside>
    <section>
        <h3>Публичный профиль</h3>
        
    </section>
{% endblock %}