{% extends 'base.html' %}

<!-- :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->

{% block content %}
    <h3>Ваш профиль.</h3>
    <ul>
        <li><a href="#">Профиль</a></li>
        <li><a href="#">Публикации</a></li>
        <li><a href="#">Комментарии</a></li>
    </ul>
    <div>
        <p>
            Имя и Фамилия:
            {% if current_user.first_name or current_user.last_name %}
                <i>{{ current_user.first_name }} </i>
                <i>{{ current_user.last_name }}</i>
            {% endif %}
        </p>
        <p>
            Email: 
            <i>{{ current_user.email }}</i>
            <a href="{{ url_for('auth.changeEmailRequest_page') }}">
                <small>изменить</small>
            </a>
        </p>
        <p>
            Обо мне:
            {% if current_user.about %}
                <i>{{ current_user.about }}</i>
                <a href="#">
                    <small>изменить</small>
                </a>
            {% endif %}
        </p>
        <p>
            Местоположение:
            {% if current_user.location %}
                <i>{{ current_user.location }}</i>
                <a href="#">
                    <small>изменить</small>
                </a>
            {% endif %}
        </p>
        <p>
            Зарегестрирован на сайте: 
            <b>{{ data.date_registration }}</b>
        </p>
        {% if current_user.confirmed %}
            <a href="{{ url_for('auth.changePassword_page') }}">
                <small>изменить пароль</small>
            </a>
            <p>Статус: <i>подтверждён</i></p>
        {% else %}
            <p>Статус: <i>не подверждён</i></p>
        {% endif %}
    </div>

{% endblock %}