header {
  border-bottom: 1px solid #d1d5da;
  background-color: #f3f5f8;
}
header .container {
  padding: 0;
}
header a:hover {
  text-decoration: none;
}
header figure {
  margin: 0;
  padding-top: 6px;
}
header figure span {
  display: block;
  background-color: green;
  border-radius: 4px;
  width: 27px;
  height: 27px;
  position: absolute;
  margin-top: 8px;
  color: green;
  font-weight: bold;
  font-size: 21px;
  padding: 0 4px;
}
header figure img {
  width: 35px;
  height: 35px;
  position: absolute;
  margin-top: 5px;
}
header figcaption {
  margin-left: 37px;
}
header figcaption h4 {
  color: green;
  margin-top: 3px;
  margin-bottom: 0;
  padding-bottom: 0;
}
header figcaption p {
  color: #24292e;
  font-size: 12px;
  margin-top: -5px;
  padding-top: 0;
}
header nav {
  float: right;
  padding-top: 8px;
}
header nav li {
  display: inline-block;
}
header nav li span {
  vertical-align: middle;
  display: inline-block;
}
header nav li span i {
  margin-top: 3px;
  margin-right: -3px;
  font-size: 28px;
}
header nav li a {
  margin-left: 5px;
  padding: 5px;
  color: #24292e;
  font-weight: bold;
}
header nav li a:hover {
  text-decoration: none;
}
header nav .dropdown {
  position: relative;
  display: inline-block;
  text-align: right;
}
header nav .dropdown-toggle {
  font-weight: 600;
}
header nav .dropdown-toggle:focus {
  outline: 0;
}
header nav .dropdown-toggle span {
  display: inline-block;
  vertical-align: middle;
  padding-left: 3px;
}
header nav .dropdown-toggle span img {
  border-radius: 50%;
}
header nav .dropdown-content {
  transition: all .25s ease;
  top: 25px;
  opacity: 0;
  visibility: hidden;
  width: 150px;
  z-index: 99;
}
header nav .dropdown-content .Popover-message {
  width: auto;
}
header nav .dropdown-content li {
  margin: 0;
  padding: 0;
}
header nav .dropdown-content a {
  margin: 0;
  padding: 8px 10px;
  display: block;
  text-decoration: none;
}
header nav .dropdown-content:hover,
header nav .dropdown-toggle:focus ~ .dropdown-content {
  opacity: 1;
  visibility: visible;
  top: 50px;
}
header nav .add a {
  padding: 0;
  padding-top: 6px;
  width: 40px;
  height: 40px;
}
header nav .add i {
  margin: 0;
  padding: 0;
}
