header {
    border-bottom: 1px solid #d1d5da;
    background-color: #f3f5f8;
    // background-image: linear-gradient(-180deg, #fafbfc 0%, #eff3f6 90%);
    .container {
        padding: 0;
    }
    figure {
        margin: 1em 0;
        img {
            position: absolute;
            margin-top: 5px;
        }
    }
    figcaption {
        margin-left: 50px;
        h1 {
            color: #fff;
            margin-top: 0;
            margin-bottom: 0;
            padding-bottom: 0;
        }
        p {
            font-size: 12px;
            margin-top: 0;
            padding-top: 0;
        }
    }
    nav {
        float: right;
        padding-top: 23px;
        li {
            display: inline-block;
            span {
                vertical-align: middle;
                display: inline-block;
                i {
                    margin-top: 3px;
                    margin-right: -3px;
                    font-size: 28px;
                }
            }
            a {
                margin-left: 5px;
                padding: 5px;
                color: #24292e;
                font-weight: bold;
                &:hover {
                    text-decoration: none;
                }
            }
        }
        .dropdown {
            position: relative;
            display: inline-block;
            text-align: right;
        }
        .dropdown-toggle {
            font-weight: 600;
            &:focus {
                outline: 0;
            }
            span {
                display: inline-block;
                vertical-align: middle;
                padding-left: 3px;
                img {
                    border-radius: 50%;
                }
            }
        }
        .dropdown-content {
            transition: all .25s ease;
            top: 25px;
            opacity: 0;
            visibility:hidden;
            width: 150px;
            z-index: 99;
            .Popover-message {
                width: auto;
            }
            li {
                margin: 0;
                padding: 0;
            }
            a {
                margin: 0;
                padding: 8px 10px;
                display: block;
                text-decoration: none;
            }
        }
        .dropdown-content:hover,
        .dropdown-toggle:focus ~ .dropdown-content {
            opacity: 1;
            visibility:visible;
            top: 50px;
        }
    }
}