header {
    border-bottom: 1px solid #e1e4e8;
    background-color: #fff;
    // background-image: linear-gradient(-180deg, #fafbfc 0%, #eff3f6 90%);
    // box-shadow: 0 0 2em rgba(68,68,68,.3);
    .container {
        padding: 0;
    }
    a:hover {
        text-decoration: none;
    }
    nav {
        float: right;
        padding-top: 10px;
        li {
            display: inline-block;
            span {
                vertical-align: middle;
                display: inline-block;
                i {
                    margin-top: 3px;
                    margin-right: -3px;
                    font-size: 28px;
                }
            }
            a {
                margin-left: 5px;
                padding: 5px;
                color: #24292e;
                font-weight: bold;
                &:hover {
                    text-decoration: none;
                }
            }
        }
        .dropdown {
            position: relative;
            display: inline-block;
            text-align: right;
        }
        .dropdown-toggle {
            font-weight: 600;
            &:focus {
                outline: 0;
            }
            span {
                display: inline-block;
                vertical-align: middle;
                padding-left: 3px;
                img {
                    border-radius: 50%;
                }
            }
        }
        .dropdown-content {
            transition: all .25s ease;
            top: 25px;
            opacity: 0;
            visibility:hidden;
            width: 150px;
            z-index: 99;
            .Popover-message {
                width: auto;
            }
            li {
                margin: 0;
                padding: 0;
            }
            a {
                margin: 0;
                padding: 8px 10px;
                display: block;
                text-decoration: none;
            }
        }
        .dropdown-content:hover,
        .dropdown-toggle:focus ~ .dropdown-content {
            opacity: 1;
            visibility:visible;
            top: 50px;
        }
        .add {
            a {
                padding: 0;
                padding-top: 5px;
                width: 35px;
                height: 35px;
            }
            i {
                margin: 0;
                padding: 0;
                font-size: 22px;
            }
        }
    }
}