.nav-publications .menu-heading {
  cursor: pointer;
}
.nav-publications .menu-heading span {
  vertical-align: middle;
  display: inline-block;
}
.nav-publications .menu-heading span:last-child {
  float: right;
}
.nav-publications .menu-heading i {
  padding: 0;
  margin-top: 0;
}
.nav-publications .fixed {
  position: fixed;
  top: 0;
  left: 13.8%;
  width: 17%;
}
