.post {
    .post-date {
        font-size: 11px;
        margin-bottom: 15px;
        display: block;
    }
    .post-views, .post-rating {
        float: right;
        span {
            vertical-align: middle;
            display: inline-block;
            i {
                margin-left: 12px;
                margin-top: 5px;
                font-size: 22px;
                color: #c3c6ca;
            }
            a {
                display: inline-block;
                i {
                    color: #28a745;
                }
            }
            .disabled {
                i {
                    color: #c3c6ca; 
                }
            }
        }
    }
}